[submodule "Assets/Juce/Juce-Core"]
	path = Assets/Juce/Juce-Core
	url = https://github.com/Juce-Assets/Juce-Core
[submodule "Assets/Juce/Juce-Utils"]
	path = Assets/Juce/Juce-Utils
	url = https://github.com/Juce-Assets/Juce-Utils
[submodule "Assets/Juce/Juce-Tween"]
	path = Assets/Juce/Juce-Tween
	url = https://github.com/Juce-Assets/Juce-Tween
[submodule "Assets/Juce/Juce-TweenPlayer"]
	path = Assets/Juce/Juce-TweenPlayer
	url = https://github.com/Juce-Assets/Juce-TweenPlayer
[submodule "Assets/Juce/Juce-CoreUnity"]
	path = Assets/Juce/Juce-CoreUnity
	url = https://github.com/Juce-Assets/Juce-CoreUnity
[submodule "Assets/Juce/Juce-Logic"]
	path = Assets/Juce/Juce-Logic
	url = https://github.com/Juce-Assets/Juce-Logic
[submodule "Assets/Juce/Juce-ScriptingUnity"]
	path = Assets/Juce/Juce-ScriptingUnity
	url = https://github.com/Juce-Assets/Juce-ScriptingUnity
[submodule "Assets/Juce/Juce-Scripting"]
	path = Assets/Juce/Juce-Scripting
	url = https://github.com/Juce-Assets/Juce-Scripting
[submodule "Assets/Juce/Juce-Loc"]
	path = Assets/Juce/Juce-Loc
	url = https://github.com/Juce-Assets/Juce-Loc
